.services{
    background: linear-gradient(180deg, #1c0327, #43075c); 
    height: 100%;

    .textContainer{

    }

    .titleContainer{

        .title{
            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }
        }

    }

    .listContainer{

    }
}