.navbar {
    height: 100px;
    background-color: transparent;
    z-index: 4; /* Ensure navbar is above other content, including the sidebar */
    position: relative; /* Keep it in normal document flow */

    .wrapper {
        max-width: 1300px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bolder;
            padding: 0;
        }

        .social {
            display: flex;
            gap: 25px;
        }

        img {
            width: 35px;
            height: 35px;
    
        }
    }
}