.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: #230431;
        height: 100%;

        span{
            font-weight: bolder;
        }

        .social{
            display: flex;
            gap: 25px;
        }

        img{
            width: 18px;
            height: 18px;
        }
    }


}