.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255, 255, 255);
    position: fixed; /* Make the sidebar fixed to overlay correctly */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    height: 100vh; /* Full height */
    z-index: 100; /* Keep it lower than navbar and above other content */
    font-weight: 300;

    .bg {
        z-index: 999;
        position: absolute; /* Change this to absolute for better control */
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        background: #973399;
        z-index: 100; /* Maintain low z-index for the background */
    }

    .links {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        a {
            font-size: 35px;
        }
    }

    button {
        z-index: 999;
        width: 50px;
        height: 25px;
        border-radius: 50%;
        position: fixed;
        top: 37px;
        left: 25px;
        background-color: transparent;
        border: none;
        color: rgb(255, 255, 255); // Make button text visible
        cursor: pointer;
        z-index: 101; // Ensure the button is also on top
    }
}